body {
	color: #636363 !important;
	background: rgb(255, 255, 255) !important;
	font:400 14px/24px aviny !important;
	
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	color: #00d1b2 !important;
	margin: 0 0 8px !important;
	font-weight: 400 !important;
	line-height: 1.5 !important;
	font-style: normal !important;
	text-transform: capitalize !important;
	font-family: aviny !important;
}